.wallpaper {
  width: 100% !important;
  height: 100% !important;
  opacity: 0.85;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: cover;

  --wallpaper-details-height: 40px;
  --wallpaper-details-font-size: calc((var(--wallpaper-details-height) * 6 ) / 11);
}
.wallpaper .details .actions {
  visibility: hidden;
}

.wallpaper .details:hover .actions {
  visibility: visible;
}

.wallpaper .details .item {
  opacity: 0.7;
  height: var(--wallpaper-details-height);
  font-size: var(--wallpaper-details-font-size);
  font-family: inherit;
  color: var(--bs-white);
  float: left;
  padding: calc(var(--wallpaper-details-height) / 11);
}

.wallpaper .details .info {
  min-width: 100px;
  background: var(--bs-gray-dark);
  padding-left: 20px;
}

.wallpaper .details .touch-up {
  width: 0;
  height: 0;
  padding: 0 !important;
  border-bottom: var(--wallpaper-details-height) solid var(--bs-gray-dark);
  border-left: var(--wallpaper-details-height) solid transparent;
}

.wallpaper .actions .icon {
  color: var(--bs-white);
  font-size: var(--wallpaper-details-font-size);
  margin: 0 5px;
  background: var(--bs-gray-dark);
  padding: 3px 5px;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  opacity: 0.7;
  width: 35px;
}
